.chat, .users{
    width: 50vw;
    font-size: 1em;
    margin: 5vh 5vw 0;
}
.flex{
    display: flex;
    justify-content: space-around;
}
/*
    Header
*/
.header {
    background-color: darkblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 2rem;
}

.btn-container{
    display: flex;
    margin-top: 2vh;
    margin-left: 2vw;
}
.green, .orange, .red{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: .5vw;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.green{
    background-color: yellowgreen;
}

h2{
    text-align: center;
}

/*
    Content
*/
.content{
    height: 70vh;
    background-color: antiquewhite;
}
.msg-display{
    color: antiquewhite;
    font-weight: bold;
    font-size: 1.2em;
}
.msg-display sub{
    padding-top: 1vh;
    font-weight: lighter;
    font-style: italic;
}
.OtherUserMessage{
    margin: 2vh 1vw;
    padding: 10px;
    background-color: grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    word-wrap: break-word;
}
.userMessage{
    margin: 2vh 1vw;
    padding: 10px;
    background-color: darkblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    word-wrap: break-word;
    text-align: end;
}
.content::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: antiquewhite;
}

.content::-webkit-scrollbar
{
	width: 12px;
	background-color: antiquewhite;
}

.content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: darkblue;
}
/*
    Footer
*/
.footer{
    background-color: darkblue;
    min-height: 6vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
    padding: 1vh 1vw;
    font-size: 2em;
    overflow-y: auto;
}

