.Log{
    text-align: center;
    font-size: 2rem;
}
h1{
    font-size: 8rem;
    text-decoration: underline;
    margin: 5vh 0;
}
form{
    margin-top: 10vh;
}
label{
    display: block;
}
.Log input {
    background-color: antiquewhite;
    border-radius: 20px;
    width: 33vw;
    padding: 1vh 1vw;
    font-size: 1em;
    font-weight: bold;
    color: #282c34;
    outline: none;
    border: none;
}
.Log input:focus{
    border: 3px solid rgb(255, 198, 123);
}
.Log .margin{
    padding: 1vh 0;
    margin: 2.5vh;
}