.room{
    padding: 0 5vw;
    margin: 10vh 0;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.container {
    width: 40vw;
}
.h1{
    font-size: 3em;
}

/*
    Header
*/
.header{
    background-color: darkblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
h2{
    text-align: center;
    padding-bottom: .5rem;
}
.rond{
    display: flex;
    padding: 0 1vw ;
}
.rond div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 2vh;
    margin-right: .3rem;
    margin-left: .3rem; 
}
.red{
    background-color: red;  
    color: black;
}
.green{
    background-color: yellowgreen;  
}
.yellow{
    background-color: orange;  
}

/*
    Content
*/
.content{
    height: 70vh;
    background-color: antiquewhite;
    overflow-y: scroll;
    scrollbar-color: darkblue;
    scrollbar-width: thin;
    
}
.content div{
    padding: 1vh 1vw;
    margin: 5px;
}
.userDivMsg{
}
.content::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: antiquewhite;
}

.content::-webkit-scrollbar
{
	width: 12px;
	background-color: antiquewhite;
}

.content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: darkblue;
}
.OtherUserMessage{
    padding: 10px;
    background-color: grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    word-wrap: break-word;
}
.userMessage{
    padding: 10px;
    background-color: darkblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    word-wrap: break-word;
    text-align: end;

}

/*
    Footer
*/
.inputMsg {
    background-color: antiquewhite;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 1px solid darkblue;
    overflow-y: hidden;
    outline: none;
}
.inputMsg:focus{
    border-top: 1px solid darkblue;
    border-bottom: none ;
    border-left: none ;
    border-right: none ;
}

/*
    User Section
*/
li{
    text-align: left
}
